
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="expert_tips">Add & Manage Tips</a></td>
    </tr>
    <tr>
      <td><a href="expert_manage_fertilizer">Add & Manage Fertilizer </a></td>
    </tr>
    <tr>
      <td><a href="expert_manage_soil">Add & Manage Soil</a></td>
    </tr>
    <tr>
      <td><a href="expert_notification">View  Notification</a></td>
    </tr>
    <tr>
      <td><a href="expert_doubt">View doubt & Send reply</a></td>
    </tr>
    <tr>
      <td><div align="center"><a href="#">Logout</a></div></td>
    </tr>
  </table>
</form>
</body>
